.search{
    padding-bottom: 20px;
    border-bottom: 1px dashed #CCC;
    margin: 10px auto;
    text-align: center;
    .reset{
        margin-left: 20px;
    }
}

.content{
    font-size: 20px;
    padding-left: 20px;
}
