@font-face {
  font-family: "iconfont"; /* Project id 3276672 */
  src: url('//at.alicdn.com/t/font_3276672_yxj4z0bas1h.woff2?t=1649642330282') format('woff2'),
       url('//at.alicdn.com/t/font_3276672_yxj4z0bas1h.woff?t=1649642330282') format('woff'),
       url('//at.alicdn.com/t/font_3276672_yxj4z0bas1h.ttf?t=1649642330282') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}