// @font-face {
//     font-family: "iconfont"; /* Project id 3276672 */
//     src: url('//at.alicdn.com/t/font_3276672_y4ogw6fgwx.woff2?t=1648185897594') format('woff2'),
//          url('//at.alicdn.com/t/font_3276672_y4ogw6fgwx.woff?t=1648185897594') format('woff'),
//          url('//at.alicdn.com/t/font_3276672_y4ogw6fgwx.ttf?t=1648185897594') format('truetype');
//   }
  
//   .iconfont {
//     font-family: "iconfont" !important;
//     font-size: 16px;
//     font-style: normal;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//   }
@font-face {
  font-family: "iconfont"; /* Project id 3276672 */
  src: url('//at.alicdn.com/t/font_3276672_6izquzos6zc.woff2?t=1648227247153') format('woff2'),
       url('//at.alicdn.com/t/font_3276672_6izquzos6zc.woff?t=1648227247153') format('woff'),
       url('//at.alicdn.com/t/font_3276672_6izquzos6zc.ttf?t=1648227247153') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}